@page "/"
@using System.Text
@using OllamaFrontend.App.Models
@using Markdig
@using Markdown.ColorCode
@using OllamaFrontend.App.Domain
@inject IJSRuntime Js
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IAiClient AiClient

<PageTitle>Ollama Chat</PageTitle>
<div class="d-flex flex-column justify-content-end page">
    <div class="d-flex justify-content-between border-bottom m-2">
        <div class="fw-bold">Ollama Chat</div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" @onchange="ChangeDarkModeAsync" checked="@_prefersDarkMode">
            <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
        </div>
    </div>
    <div id="chat" class="d-flex flex-column flex-grow-1 scroll-x">
        @foreach (var entry in _chatHistory)
        {
            if (entry.User)
            {
                <div class="d-flex flex-row-reverse">
                    <div class="card ai-message">
                        <div class="card-body pb-1">
                            @((MarkupString)Markdown.ToHtml(@entry.Message, _pipeline))
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex flex-row">
                    <div class="card user-message">
                        <div class="card-body pb-1">
                            @if (string.IsNullOrWhiteSpace(entry.Message))
                            {
                                <img src="3-dots-loading.svg" alt="loading-svg" style="filter: invert(@(_prefersDarkMode ? "100%" : "0%")"/>
                            }
                            else
                            {
                                @((MarkupString)Markdown.ToHtml(@entry.Message, _pipeline))
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="form-floating mb-3">
        <input id="messageInput" type="text" @onchange="InputOnChangeAsync" @onkeydown="InputOnKeyDown" @bind-value="_input" @bind-value:event="oninput" class="form-control" placeholder="Your Message">
        <label for="messageInput">Your Message</label>
    </div>
    <div class="d-flex ">
        <button type="button" @onclick="SubmitAsync" class="btn btn-primary flex-grow-1">Send</button>
        <button type="button" class="btn btn-info btn-sm" @onclick="SaveAsMarkDownFileAsync"><img role="img" src="icons/file-earmark-arrow-down.svg" alt="save conversation to file"/></button>
        <button type="button"  class="btn btn-danger btn-sm" @onclick="DeleteConversation"><img  role="img" class="" src="icons/trash.svg" alt="delete conversation"/></button>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @_currentModel
            </button>
            <ul class="dropdown-menu">
                @foreach (var model in _availableModels)
                {
                    <li><button type="button" class="dropdown-item" @onclick="async () => { await ChangeModelAsync(model.ModelName);}">@model.ModelName</button></li>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private const string PrefersDarkMode = "prefersDarkMode";
    private const string CurrentModel = "currentModel";
    private bool _enterIsFired;
    private string _input = "";
    private readonly List<ChatEntry> _chatHistory = [];
    private CancellationTokenSource? _tokenSource;
    private IReadOnlyList<Model> _availableModels = [];
    private string _currentModel = "No Model selected";
    private bool _prefersDarkMode = false;
    private readonly MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseColorCode()
        .Build();

    protected override async Task OnInitializedAsync()
    {
        AiClient.Reset();
        var prefersDarkModeSaved = await LocalStorage.ContainKeyAsync(PrefersDarkMode);
        if (prefersDarkModeSaved)
        {
            _prefersDarkMode = await LocalStorage.GetItemAsync<bool>(PrefersDarkMode);
            await Js.InvokeVoidAsync("setTheme", _prefersDarkMode);
        }
        else
        {
            _prefersDarkMode = await Js.InvokeAsync<bool>(PrefersDarkMode);
        }

        _availableModels = await AiClient.GetModelsAsync();

        if (await LocalStorage.ContainKeyAsync(CurrentModel))
        {
            var currentModel = await LocalStorage.GetItemAsStringAsync(CurrentModel);
            if (currentModel is not null && _availableModels.FirstOrDefault(x => x.ModelName == currentModel) != null)
            {
                _currentModel = currentModel;
            }
        }
        
        StateHasChanged();
    }

    private void InputOnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            _enterIsFired = true;
        }
    }

    private async Task InputOnChangeAsync(ChangeEventArgs obj)
    {
        if (obj.Value is not string input) return;
        
        _input = input;

        if (_enterIsFired)
        {
            _enterIsFired = false;
            await SubmitAsync();
        }
    }

    private async Task SubmitAsync()
    {
        if (_currentModel == "No Model selected")
        {
            _chatHistory.Add(new ChatEntry(false, "No Model selected - please select model! If you can't see a model, please pull a model with ollama ( e.g. `ollama pull llama3.1`) and reload page.."));
            return;
        }
        await CancelPreviousRequests();
        var promptRequest = new PromptRequest
        {
            Model = _currentModel,
            Prompt = _input
        };
        _chatHistory.Add(new ChatEntry(true, _input));
        _input = string.Empty;
        await InvokeAsync(StateHasChanged);
        _tokenSource = new CancellationTokenSource();
        var token = _tokenSource.Token;

        try
        {
            var chatEntry = new ChatEntry(false, string.Empty);
            _chatHistory.Add(chatEntry);
            await foreach (var promptResponse in AiClient.SendRequestAsync(promptRequest, token: token))
            {
                chatEntry.Message += promptResponse;
                await InvokeAsync(StateHasChanged);
            }
        }
        finally
        {
            _tokenSource?.Dispose();
            _tokenSource = null;
        }
    }

    private async Task CancelPreviousRequests()
    {
        if (_tokenSource is not null)
        {
            await _tokenSource.CancelAsync();
            _tokenSource.Dispose();
            _tokenSource = null;
        }
    }


    private async Task ChangeDarkModeAsync(ChangeEventArgs obj)
    {
        if (obj.Value is not bool darkMode) return;
        await LocalStorage.SetItemAsync(PrefersDarkMode, darkMode);
        await Js.InvokeVoidAsync("setTheme", darkMode);
    }

    private async Task ChangeModelAsync(string modelName)
    {
        _currentModel = modelName;
        await LocalStorage.SetItemAsStringAsync(CurrentModel, modelName);
    }

    private async Task SaveAsMarkDownFileAsync()
    {
        StringBuilder content = new();
        foreach (var chatEntry in _chatHistory)
        {
            
            if (chatEntry.User)
            {
                content.AppendLine("## You");

            }
            else
            {
                content.AppendLine("## AI");
            }

            content.AppendLine(chatEntry.Message);
        }

        using MemoryStream stream = new();
        await using StreamWriter streamWriter = new StreamWriter(stream, Encoding.UTF8);
        await streamWriter.WriteAsync(content);
        await streamWriter.FlushAsync();
        stream.Position = 0;
        using var streamRef = new DotNetStreamReference(stream: stream);
        await Js.InvokeVoidAsync("downloadFileFromStream", $"chat-{DateTime.Now:yyyyMMddHHmmss}.md", streamRef);
    }

    private void DeleteConversation()
    {
        AiClient.Reset();
        _chatHistory.Clear();
    }

}