@page "/"
@using OllamaFrontend.App.Models
@using Ndjson.AsyncStreams.Net.Http
@using Markdig
@using Markdown.ColorCode
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime Js
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<PageTitle>Ollama Chat</PageTitle>
<div class="d-flex flex-column justify-content-end page">
    <div class="d-flex justify-content-between border-bottom m-2">
        <div class="fw-bold">Ollama Chat</div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" @onchange="ChangeDarkModeAsync" checked="@_prefersDarkMode">
            <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
        </div>
    </div>
    <div id="chat" class="d-flex flex-column flex-grow-1 scroll-x">
        @foreach (var entry in _chatHistory)
        {
            if (entry.User)
            {
                <div class="d-flex flex-row-reverse">
                    <div class="card" style="max-width: 80%;">
                        <div class="card-body pb-1">
                            @((MarkupString)Markdown.ToHtml(@entry.Message, _pipeline))
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex flex-row">
                    <div class="card text-bg-info" style="max-width: 80%;">
                        <div class="card-body pb-1">
                            @((MarkupString)Markdown.ToHtml(@entry.Message, _pipeline))
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="form-floating mb-3">
        <input id="messageInput" type="text" @onchange="InputOnChangeAsync" @onkeydown="InputOnKeyDown" @bind-value="_input" @bind-value:event="oninput" class="form-control" placeholder="Your Message">
        <label for="messageInput">Your Message</label>
    </div>
    <div class="d-flex ">
        <button type="button" @onclick="SubmitAsync" class="btn btn-primary flex-grow-1">Send</button>
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @_currentModel
            </button>
            <ul class="dropdown-menu">
                @foreach (var model in _availableModels)
                {
                    <li><button type="button" class="dropdown-item" @onclick="() => { _currentModel = model.ModelName; }">@model.ModelName</button></li>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private const string PrefersDarkMode = "prefersDarkMode";
    private bool _enterIsFired;
    private string _input = "";
    private readonly List<ChatEntry> _chatHistory = [];
    private CancellationTokenSource? _tokenSource;
    private IReadOnlyList<Model> _availableModels = [];
    private string _currentModel = "No Model selected";
    private bool _prefersDarkMode = false;

    private readonly MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseColorCode()
        .Build();

    protected override async Task OnInitializedAsync()
    {
        var prefersDarkModeSaved = await LocalStorage.ContainKeyAsync(PrefersDarkMode);
        if (prefersDarkModeSaved)
        {
            _prefersDarkMode = await LocalStorage.GetItemAsync<bool>(PrefersDarkMode);
            await Js.InvokeVoidAsync("setTheme", _prefersDarkMode);
        }
        else
        {
            _prefersDarkMode = await Js.InvokeAsync<bool>(PrefersDarkMode);
        }
        
        var httpClient = HttpClientFactory.CreateClient();
        var models = await httpClient.GetFromJsonAsync<ModelsResponse>(new Uri("http://localhost:11434/api/tags", UriKind.Absolute));
        if (models is not null)
        {
            _availableModels = models.Models;
        }
        StateHasChanged();
    }

    private void InputOnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            _enterIsFired = true;
        }
    }

    private async Task InputOnChangeAsync(ChangeEventArgs obj)
    {
        if (obj.Value is not string input) return;
        
        _input = input;

        if (_enterIsFired)
        {
            _enterIsFired = false;
            await SubmitAsync();
        }
    }

    private async Task SubmitAsync()
    {
        if (_currentModel == "No Model selected")
        {
            _chatHistory.Add(new ChatEntry(false, "No Model selected - please select model! If you can't see a model, please pull a model with ollama ( e.g. `ollama pull llama3.1`) and reload page.."));
            return;
        }
        await CancelPreviousRequests();
        var promptRequest = new PromptRequest
        {
            Model = _currentModel,
            Prompt = _input
        };
        _chatHistory.Add(new ChatEntry(true, _input));
        _input = string.Empty;
        await InvokeAsync(StateHasChanged);
        _tokenSource = new CancellationTokenSource();
        try
        {
            var httpClient = HttpClientFactory.CreateClient();
            var content = JsonContent.Create(promptRequest);
            var request = new HttpRequestMessage
            {
                Content = content,
                Method = HttpMethod.Post,
                RequestUri = new Uri("http://localhost:11434/api/generate", UriKind.Absolute),
                Version = new Version(3, 0),
                VersionPolicy = HttpVersionPolicy.RequestVersionOrLower
            };
            request.SetBrowserResponseStreamingEnabled(true);
            request.Headers.Add("Accept", "application/x-ndjson");
            using HttpResponseMessage response = await httpClient.SendAsync(request, HttpCompletionOption.ResponseHeadersRead, _tokenSource.Token);

            if (response.IsSuccessStatusCode)
            {
                await AddResponseAsync(response, _tokenSource.Token);
            }
            else
            {
                Console.WriteLine($"Ollama api error: {await response.Content.ReadAsStringAsync()}");
            }
        }
        finally
        {
            _tokenSource?.Dispose();
            _tokenSource = null;
        }
    }

    private async Task AddResponseAsync(HttpResponseMessage response, CancellationToken token)
    {
        var chatEntry = new ChatEntry(false, string.Empty);
        _chatHistory.Add(chatEntry);
        await foreach (var promptResponse in response.Content.ReadFromNdjsonAsync<PromptResponse>(cancellationToken: token))
        {
            if (promptResponse is null) continue;
            chatEntry.Message += promptResponse.Response;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task CancelPreviousRequests()
    {
        if (_tokenSource is not null)
        {
            await _tokenSource.CancelAsync();
            _tokenSource.Dispose();
            _tokenSource = null;
        }
    }


    private async Task ChangeDarkModeAsync(ChangeEventArgs obj)
    {
        if (obj.Value is not bool darkMode) return;
        await LocalStorage.SetItemAsync(PrefersDarkMode, darkMode);
        await Js.InvokeVoidAsync("setTheme", darkMode);
    }

}